@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-figtree: var(--font-figtree);
  --font-major: var(--font-major);
  --font-bone: var(--font-bone);
  --font-space: var(--font-space);
  --color-sidebar: var(--sidebar);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-ash: var(--ash);
  --color-terminal: var(--terminal);
  --color-vim: var(--vim);
  --color-greyed: var(--greyed);
  --color-catnip: var(--catnip);
  --color-dysto: var(--dysto);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* MAC COLORS */
  --color-mac-red: var(--mac-red);
  --color-mac-orange: var(--mac-orange);
  --color-mac-yellow: var(--mac-yellow);
  --color-mac-green: var(--mac-green);
  --color-mac-mint: var(--mac-mint);
  --color-mac-teal: var(--mac-teal);
  --color-mac-cyan: var(--mac-cyan);
  --color-mac-blue: var(--mac-blue);
  --color-mac-indigo: var(--mac-indigo);
  --color-mac-purple: var(--mac-purple);
  --color-mac-pink: var(--mac-pink);
  --color-mac-brown: var(--mac-brown);
  --color-mac-gray: var(--mac-gray);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  /*--foreground: oklch(0.218 0.002 286.24);*/
  --foreground: oklch(0.196 0.021 271.47);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.218 0.002 286.24);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.218 0.002 286.24);
  --primary: oklch(0.196 0.021 271.47);
  --primary-foreground: oklch(0.925 0.006 285.9);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.196 0.021 271.47);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.196 0.021 271.47);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.925 0.006 285.9);
  --sidebar-foreground: oklch(0.218 0.002 286.24);
  --sidebar-primary: oklch(0.196 0.021 271.47);
  --sidebar-primary-foreground: oklch(0.925 0.006 285.9);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.196 0.021 271.47);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --ash: oklch(0.925 0.006 285.9);
  --terminal: oklch(0.241 0.0216 272.82);
  --vim: oklch(0.196 0.021 271.47);
  --greyed: oklch(0.381 0.021 274.3);
  --catnip: oklch(0.867 0.056 209.06);
  --dysto: oklch(0.44 0.0223 258.37);
  /* MAC LIGHT */
  --mac-red: oklch(65.67% 0.257 29.05);
  --mac-orange: oklch(78.39% 0.234 70.03);
  --mac-yellow: oklch(90.62% 0.174 98.58);
  --mac-green: oklch(76.84% 0.194 145.71);
  --mac-mint: oklch(76.92% 0.182 187.71);
  --mac-teal: oklch(73.63% 0.101 220.42);
  --mac-cyan: oklch(78.28% 0.141 248.96);
  --mac-blue: oklch(56.59% 0.241 264.58);
  --mac-indigo: oklch(48.8% 0.154 295.93);
  --mac-purple: oklch(61.45% 0.195 318.1);
  --mac-pink: oklch(65.2% 0.255 14.79);
  --mac-brown: oklch(61.02% 0.078 71.57);
  --mac-gray: oklch(58.26% 0.012 276.51);
}

.dark {
  --background: oklch(0.218 0.002 286.24);
  --foreground: oklch(0.925 0.006 285.9);
  --card: oklch(0.196 0.021 271.47);
  --card-foreground: oklch(0.925 0.006 285.9);
  --popover: oklch(0.196 0.021 271.47);
  --popover-foreground: oklch(0.925 0.006 285.9);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.196 0.021 271.47);
  --secondary: oklch(0.241 0.0216 272.82);
  --secondary-foreground: oklch(0.925 0.006 285.9);
  --muted: oklch(0.241 0.0216 272.82);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.241 0.0216 272.82);
  --accent-foreground: oklch(0.925 0.006 285.9);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.196 0.021 271.47);
  --sidebar-foreground: oklch(0.925 0.006 285.9);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.925 0.006 285.9);
  --sidebar-accent: oklch(0.241 0.0216 272.82);
  --sidebar-accent-foreground: oklch(0.925 0.006 285.9);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* MAC DARK */
  --mac-red: oklch(66.28% 0.25 28.91);
  --mac-orange: oklch(79.79% 0.222 69.94);
  --mac-yellow: oklch(91.51% 0.17 98.31);
  --mac-green: oklch(78.85% 0.202 145.45);
  --mac-mint: oklch(84.24% 0.14 188.05);
  --mac-teal: oklch(79.51% 0.108 220.51);
  --mac-cyan: oklch(80.8% 0.144 249.36);
  --mac-blue: oklch(60.61% 0.242 264.8);
  --mac-indigo: oklch(51.21% 0.163 296);
  --mac-purple: oklch(65.32% 0.208 318.23);
  --mac-pink: oklch(71.57% 0.219 14.75);
  --mac-brown: oklch(63.46% 0.076 71.94);
  --mac-gray: oklch(60.89% 0.012 276.57);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;

    /* Hide scrollbars globally */
    * {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    *::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
}
